:root{
    background-color: #202020;
    color: white;
    font-family: "Poppins", sans-serif;
    --primary-color: #7e5cf5;
    --grey-color:#b3b3b3;
    /* --main-section-color: #1918919; */
    /* --side-panel-color: #121212; */
    --side-panel-color: black;
    --main-section-color: #131313;
    
}
body{
    margin: 0;
    padding: 0;
    color: white;
}
header {

    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    width: 100vw;
    height: 64px;
    min-height: 64px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    /* ...existing code... */
}

.header-app-logo {
    width: 5vh;
    height: 5vh;
    padding-top: 1.7vh;
}
.header-app{
    display: flex;
    gap: 1vw;
}
.header-search input{
    width: 35vw;
    height: 6vh;
    /* margin-top: 1.2vh; */
    background-color: #2a2a2a;
    border: none;
    border-radius: 1vw;
    text-align: left;
    padding-left: 4vw;
    background-image: url('./assets/icons/search.svg');
    background-repeat: no-repeat;
    background-position: left 1vw center;
    background-size: 2vh 2vh;
    color: white;

}
.header-search{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 10; /* keep above other header elements */
}
.header-search input:focus{
    outline: none;
    box-shadow: 0 0 0 2px white;
    background-image: url(./assets/icons/search-white.svg);
}
.header-production{
    padding-top: 0.2vh;
    padding-right: 2vh;
    font-size: 20px;
}

/* footer section starts here */
footer{
    background-color: black;
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
    
}
.footer-music-control{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0.7vw;
}

.footer-music-control-shuffle{
    background-image: url(assets/icons/music-control-shuffle.svg);
    background-repeat: no-repeat;
    background-size: 2vh 2vh;
    width: 3vh;
    height: 3vh;
    cursor: pointer;
    
}
.footer-music-control-prev{
    background-image: url(assets/icons/music-control-prev.svg);
    background-repeat: no-repeat;
    background-size: 2vh 2vh;
    width: 3vh;
    height: 3vh;
    cursor: pointer;

    
}
.footer-music-control-play-pause{
    background-image: url(assets/icons/music-control-play.svg);
    background-repeat: no-repeat;
    background-size: 2.5vh 2.5vh;
    width: 3vh;
    height: 3.5vh;
    cursor: pointer;
    
}
.footer-music-control-next{
    background-image: url(assets/icons/music-control-next.svg);
    background-repeat: no-repeat;
    background-size: 2vh 2vh;
    width: 3vh;
    height: 3vh;
    cursor: pointer;
    
}
.footer-music-control-repeat{
    background-image: url(assets/icons/music-control-repeat.svg);
    background-repeat: no-repeat;
    background-size: 2vh 2vh;
    width: 3vh;
    height: 3vh;
    cursor: pointer;
    
}
.footer-music-control-shuffle:hover {
    background-image: url(assets/icons/music-control-shuffle-white.svg);
}
.footer-music-control-prev:hover {
    background-image: url(assets/icons/music-control-prev-white.svg);
}
.footer-music-control-play-pause:hover {
    background-image: url(assets/icons/music-control-play-white.svg);
}
.footer-music-control-pause:hover {
    background-image: url(assets/icons/music-control-pause-white.svg);
}
.footer-music-control-next:hover {
    background-image: url(assets/icons/music-control-next-white.svg);
}
.footer-music-control-repeat:hover {
    background-image: url(assets/icons/music-control-repeat-white.svg);
}

/* Side panel section */
.side-panel{
    background-color: var(--side-panel-color);
    width: 15vw;
    height: calc(100vh - 144px);
    position: fixed;
    top: 64px;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    box-sizing: border-box;
    gap: 3.5vh;
}
.side-panel hr{
    border: none;
    height: 1px;
    background-color: #282828;
    margin: 0 1vw;
}
.home{
    margin-top: 3vh;
    background-image: url(./assets/icons/home.svg);
}
.library{
    background-image: url(./assets/icons/library.svg);
}
.liked-songs{
    background-image: url(./assets/icons/liked-songs.svg);
}
.home,.library,.liked-songs{
    color: var(--grey-color);
    background-repeat: no-repeat;
    background-position: left 1vw center;
    background-size: 2vh 2vh;
    padding-left: 4vw;
}
.home:hover,.library:hover,.liked-songs:hover{
    color: #ffffff;
    background-image: url(./assets/icons/home-white.svg);
    cursor: pointer;
}
.library:hover{
    background-image: url(./assets/icons/library-white.svg);
}
.liked-songs:hover{
    background-image: url(./assets/icons/liked-songs.svg);
}

/* main-section  */
.main-section {
    position: fixed;
    top: 64px;
    left: 15vw;
    right: 0;
    bottom: 80px;
    width: calc(100vw - 15vw);
    height: calc(100vh - 64px - 80px);
    background-color:var(--main-section-color);
    overflow-y: auto;
    padding: 2vw 2vw 2vw 2vw;
    box-sizing: border-box;
    z-index: 1;
}
.home-section p{
    margin-top: 0;
    font-size: 28px;
    font-weight: 500;
    color: rgb(225, 225, 225);

}
.search-section{
    display: none;
}